table,tr,th,td {
    border: 1px solid black;
    border-collapse: collapse;
}

th,td {
    padding: 7px;
}

th {
    background-color: red;
    color:white;
}

td:hover {
   background-color: green;
   color:white;
   transition:  2s ease;
}